#########################################
# Ubuntu Desktop Configuration
#########################################

# Timezone
TZ=UTC

# Display
DISPLAY=:1

# Desktop Resolution
# Examples:
# 1024x768
# 1280x720
# 1366x768
# 1600x900
# 1920x1080
VNC_RESOLUTION=1366x768

# Color Depth
VNC_DEPTH=24

# Railway Port
# Railway automatically overrides this.
PORT=6080

#########################################
# Desktop User
#########################################

USERNAME=desktop

#########################################
# Firefox
#########################################

MOZ_DISABLE_CONTENT_SANDBOX=1

#########################################
# OpenGL
#########################################

LIBGL_ALWAYS_SOFTWARE=1
MESA_GL_VERSION_OVERRIDE=3.3

#########################################
# Locale
#########################################

LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_ALL=en_US.UTF-8

#########################################
# Performance
#########################################

# Disable desktop animations
DISABLE_COMPOSITOR=true

# VNC compression
VNC_COMPRESSION=9

# JPEG quality (0-9)
VNC_QUALITY=6

# Cursor updates
VNC_CURSOR=true

#########################################
# Audio
#########################################

ENABLE_AUDIO=true

#########################################
# Clipboard
#########################################

ENABLE_CLIPBOARD=true
